{% extends 'base.njk' %}

{% block title %}Notes List{% endblock %}


{% block body %}
    <div class="container" id="notes">
        <ol>
            {% for note, info in notes %}
                <li>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">{{ info.title }} </li>
                        <li class="list-group-item">{{ info.summary }} </li>
                        <li class="list-group-item"><a class="btn btn-primary btn-sm" href="/Detail/{{ info.title }}">Details</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="list-group-item"><strong>This is where the notes would go...</strong></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
