{% extends 'base.html.twig' %}

{% block title %}Thank You{{ controller_name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/ThankYouController.php'|file_link(0) }}">src/Controller/ThankYouController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/thank_you/index.html.twig'|file_link(0) }}">templates/thank_you/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
