{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Blog</h1>
    <a href="{{ path('post_new') }}">Create a new post</a>
    {% for post in posts %}
        <article>
            <h1>{{ post.title }}</h1>
            <p>{{ post.body }}</p>
            <p><a href="{{ path('show', {id: post.id}) }}">Show Post</a> </p>
        </article>
    {% endfor %}
{% endblock %}
