{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Create New</h1>
    </header>
    {{ form_start(item_form) }}
    {{ form_widget(item_form) }}
    {{ form_end(item_form) }}
{% endblock %}