{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Work</h1>
        <a href="/list/createItem" class="create">Create</a>
    </header>
    <div id="list">
        <a class="item checked">Design new icons</a>
    </div>

{% endblock %}
