{% extends "../base.njk" %}

{% block body %}
     <div class="container">
    {% if errors %}
         <ul class="list-group">
              <li class="list-group-item">ERRORS <span class="badge badge-danger badge-pill">{{ errors | length }}</span></li>
             {% for error in errors %}
                  <li class="list-group-item list-group-item-danger">{{ error.msg }}</li>
             {% endfor %}
         </ul>
    {% endif %}
     <form action="/Create/add" method="POST">
         {#Name Input#}
          <div class="form-group">
               <label for="name">Name</label>
               <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
                      placeholder="Name">
          </div>
         {#Character Input#}
          <div class="form-group">
               <label for="character">Character</label>
               <input type="text" class="form-control" name="character" id="character">
          </div>
         {#Role Input#}
          <div class="form-group">
               <label for="role">Role</label>
              <select class="form-control" id="role" name="role">
                  <option value="Cast">Cast</option>
                  <option value="Director">Director</option>
                  <option value="Writer">Writer</option>
                  <option value="Producer">Producer</option>
                  <option value="Other">Other</option>
              </select>
          </div>
         {#Submit Button#}
          <button type="submit" class="btn btn-primary">Submit</button>
     </form>
     </div>
{% endblock %}
