{% extends "../base.njk" %}

{% block body %}
    <a class="btn btn-primary" href="/films/create">Create New Film</a>
    <br>
    <ol class="list-group">
        {% for film in films %}
            <li class="list-group-item">
                <ul class="list-group ">
                    <li class="d-none" id="film-id">{{ film.id }}</li>
                    <li class="list-group-item">Title: {{ film.name }}</li>
                    <li class="list-group-item">Studio: {{ film.studio }}</li>
                    <li class="list-group-item">Release Date: {{ film.releaseDate }}</li>
                    <li class="list-group-item">Rating: {{ film.rating }}</li>
                    <li class="list-group-item">Film Length: {{ film.length }}</li>
                    <button class="btn btn-success" id="view-cast">View Cast</button>
                    <li class="list-group-item">
                        <ul class="list-group actor-info-{{ film.id }}">
                           {#Append Actors here#}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}


